In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [2]:
%matplotlib inline
sns.set_style(style='whitegrid')

In [3]:
from keys import keys
from binance.client import Client

In [4]:
client = Client(api_key=keys.apiKey, api_secret=keys.secretKey)

In [5]:
candles = client.get_klines(symbol='LTCUSDT', interval=Client.KLINE_INTERVAL_1MINUTE, limit=2000)

In [6]:
columns = ['Open Time', 'Open', 'High', 'Low', 'Close',
            'Volume', 'Close Time', 'Quote asset volume', 
            'n_trades', 'Taker buy base asset volume', 
            'Taker buy quote asset volume', 'Ignore']

In [7]:
ltc_usdt_df = pd.DataFrame(candles, columns=columns)

In [8]:
ltc_usdt_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,n_trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1582932480000,60.50000000,60.52000000,60.41000000,60.41000000,277.04361000,1582932539999,16754.93934650,35,21.30428000,1288.97313550,0
1,1582932540000,60.40000000,60.44000000,60.40000000,60.44000000,100.79347000,1582932599999,6090.37210260,20,76.14043000,4600.63889720,0
2,1582932600000,60.49000000,60.49000000,60.44000000,60.44000000,497.02716000,1582932659999,30049.63724430,37,107.43144000,6494.65180550,0
3,1582932660000,60.45000000,60.47000000,60.45000000,60.47000000,129.05952000,1582932719999,7803.13032430,22,129.05952000,7803.13032430,0
4,1582932720000,60.47000000,60.58000000,60.45000000,60.58000000,292.63088000,1582932779999,17705.21307120,53,280.43188000,16967.31006290,0

In [9]:
ltc_usdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     1000 non-null   int64
 1   Open                          1000 non-null   object
 2   High                          1000 non-null   object
 3   Low                           1000 non-null   object
 4   Close                         1000 non-null   object
 5   Volume                        1000 non-null   object
 6   Close Time                    1000 non-null   int64
 7   Quote asset volume            1000 non-null   object
 8   n_trades                      1000 non-null   int64
 9   Taker buy base asset volume   1000 non-null   object
 10  Taker buy quote asset volume  1000 non-null   object
 11  Ignore                        1000 non-null   object
dtypes: int64(3), object(9)
memory usage: 93.9+ KB

In [10]:
ltc_usdt_df[['Open','Close', 'High','Low', 'Volume', 'Quote asset volume', 
            'Taker buy base asset volume', 'Taker buy quote asset volume'
           ]] = ltc_usdt_df[['Open','Close', 'High','Low', 'Volume', 'Quote asset volume', 
            'Taker buy base asset volume', 'Taker buy quote asset volume']].astype(float)

In [11]:
ltc_usdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     1000 non-null   int64
 1   Open                          1000 non-null   float64
 2   High                          1000 non-null   float64
 3   Low                           1000 non-null   float64
 4   Close                         1000 non-null   float64
 5   Volume                        1000 non-null   float64
 6   Close Time                    1000 non-null   int64
 7   Quote asset volume            1000 non-null   float64
 8   n_trades                      1000 non-null   int64
 9   Taker buy base asset volume   1000 non-null   float64
 10  Taker buy quote asset volume  1000 non-null   float64
 11  Ignore                        1000 non-null   object
dtypes: float64(8), int64(3), object(1)
memory usage: 93.9+ KB

In [12]:
ltc_usdt_df['Close Time'] = ltc_usdt_df['Close Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))

In [13]:
ltc_usdt_df['Open Time'] = ltc_usdt_df['Open Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))

In [14]:
ltc_usdt_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,n_trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2020-02-29 00:28:00,60.50,60.52,60.41,60.41,277.04361,2020-02-29 00:28:59,16754.939346,35,21.30428,1288.973135,0
1,2020-02-29 00:29:00,60.40,60.44,60.40,60.44,100.79347,2020-02-29 00:29:59,6090.372103,20,76.14043,4600.638897,0
2,2020-02-29 00:30:00,60.49,60.49,60.44,60.44,497.02716,2020-02-29 00:30:59,30049.637244,37,107.43144,6494.651805,0
3,2020-02-29 00:31:00,60.45,60.47,60.45,60.47,129.05952,2020-02-29 00:31:59,7803.130324,22,129.05952,7803.130324,0
4,2020-02-29 00:32:00,60.47,60.58,60.45,60.58,292.63088,2020-02-29 00:32:59,17705.213071,53,280.43188,16967.310063,0

In [15]:
ltc_usdt_df['Open Time'].unique().max()

numpy.datetime64('2020-02-29T17:07:00.000000000')

In [16]:
ltc_usdt_df['Open Time'].unique().min()

numpy.datetime64('2020-02-29T00:28:00.000000000')

In [26]:
x = datetime.now()
x

datetime.datetime(2020, 2, 29, 17, 7, 19, 633027)

In [29]:
y = x - timedelta(days=30)
y

datetime.datetime(2020, 1, 30, 17, 7, 19, 633027)

In [42]:
y.timestamp()

1580400439.633027

In [44]:
ltc_month = client.get_klines(symbol='LTCUSDT',
                              interval=Client.KLINE_INTERVAL_15MINUTE,
                             startTime=int(y.timestamp()))

In [32]:
ltc_month_df = pd.DataFrame(ltc_month, columns=columns)

In [33]:
ltc_month_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     500 non-null    int64
 1   Open                          500 non-null    object
 2   High                          500 non-null    object
 3   Low                           500 non-null    object
 4   Close                         500 non-null    object
 5   Volume                        500 non-null    object
 6   Close Time                    500 non-null    int64
 7   Quote asset volume            500 non-null    object
 8   n_trades                      500 non-null    int64
 9   Taker buy base asset volume   500 non-null    object
 10  Taker buy quote asset volume  500 non-null    object
 11  Ignore                        500 non-null    object
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [34]:
ltc_month_df['Open Time'] = ltc_month_df['Open Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))

ltc_month_df['Close Time'] = ltc_month_df['Close Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))

In [35]:
ltc_month_df['Open Time'].max()

Timestamp('2017-12-18 09:15:00')

In [36]:
ltc_month_df['Open Time'].min()

Timestamp('2017-12-13 04:30:00')