In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [2]:
%matplotlib inline
sns.set_style(style='whitegrid')

In [125]:
from keys import keys
from binance.client import Client

In [126]:
DIFF_INTERVAL_5MIN = 300000
interval_5min = { 'interval' : Client.KLINE_INTERVAL_5MINUTE,
                    'interval_diff': 300000 }

In [4]:
client = Client(api_key=keys.apiKey, api_secret=keys.secretKey)

In [5]:
ltc_usdt = client.get_klines(symbol='LTCUSDT', 
                             interval=Client.KLINE_INTERVAL_5MINUTE)

In [6]:
columns = ['Open Time', 'Open', 'High', 'Low', 'Close',
            'Volume', 'Close Time', 'Quote asset volume', 
            'n_trades', 'Taker buy base asset volume', 
            'Taker buy quote asset volume', 'Ignore']

In [7]:
ltc_usdt_df = pd.DataFrame(ltc_usdt, columns=columns)

In [8]:
ltc_usdt_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,n_trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1582846200000,61.85000000,61.86000000,61.22000000,61.43000000,3134.40328000,1582846499999,192567.96110640,638,1128.18231000,69294.54475340,0
1,1582846500000,61.47000000,61.51000000,61.25000000,61.28000000,2051.01024000,1582846799999,125866.68221490,249,851.68926000,52251.98470320,0
2,1582846800000,61.27000000,61.57000000,61.27000000,61.47000000,1699.04378000,1582847099999,104366.01934010,307,726.49384000,44613.53734150,0
3,1582847100000,61.49000000,61.58000000,61.32000000,61.39000000,1954.41476000,1582847399999,120072.29026330,232,966.39689000,59373.79260670,0
4,1582847400000,61.36000000,61.41000000,61.04000000,61.22000000,4310.04460000,1582847699999,263867.45743890,470,1408.36933000,86245.55449310,0

In [9]:
ltc_usdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     500 non-null    int64
 1   Open                          500 non-null    object
 2   High                          500 non-null    object
 3   Low                           500 non-null    object
 4   Close                         500 non-null    object
 5   Volume                        500 non-null    object
 6   Close Time                    500 non-null    int64
 7   Quote asset volume            500 non-null    object
 8   n_trades                      500 non-null    int64
 9   Taker buy base asset volume   500 non-null    object
 10  Taker buy quote asset volume  500 non-null    object
 11  Ignore                        500 non-null    object
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [10]:
ltc_usdt_df[['Open','Close', 'High','Low', 'Volume', 'Quote asset volume', 
            'Taker buy base asset volume', 'Taker buy quote asset volume'
           ]] = ltc_usdt_df[['Open','Close', 'High','Low', 'Volume', 'Quote asset volume', 
            'Taker buy base asset volume', 'Taker buy quote asset volume']].astype(float)

In [11]:
ltc_usdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     500 non-null    int64
 1   Open                          500 non-null    float64
 2   High                          500 non-null    float64
 3   Low                           500 non-null    float64
 4   Close                         500 non-null    float64
 5   Volume                        500 non-null    float64
 6   Close Time                    500 non-null    int64
 7   Quote asset volume            500 non-null    float64
 8   n_trades                      500 non-null    int64
 9   Taker buy base asset volume   500 non-null    float64
 10  Taker buy quote asset volume  500 non-null    float64
 11  Ignore                        500 non-null    object
dtypes: float64(8), int64(3), object(1)
memory usage: 47.0+ KB

In [12]:
"""
ltc_usdt_df['Close Time'] = ltc_usdt_df['Close Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))
ltc_usdt_df['Open Time'] = ltc_usdt_df['Open Time'].apply(
    lambda x: datetime.fromtimestamp(int(x/1000)))
"""

"\nltc_usdt_df['Close Time'] = ltc_usdt_df['Close Time'].apply(\n    lambda x: datetime.fromtimestamp(int(x/1000)))\nltc_usdt_df['Open Time'] = ltc_usdt_df['Open Time'].apply(\n    lambda x: datetime.fromtimestamp(int(x/1000)))\n"

In [13]:
ltc_usdt_df.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,n_trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1582846200000,61.85,61.86,61.22,61.43,3134.40328,1582846499999,192567.961106,638,1128.18231,69294.544753,0
1,1582846500000,61.47,61.51,61.25,61.28,2051.01024,1582846799999,125866.682215,249,851.68926,52251.984703,0
2,1582846800000,61.27,61.57,61.27,61.47,1699.04378,1582847099999,104366.019340,307,726.49384,44613.537341,0
3,1582847100000,61.49,61.58,61.32,61.39,1954.41476,1582847399999,120072.290263,232,966.39689,59373.792607,0
4,1582847400000,61.36,61.41,61.04,61.22,4310.04460,1582847699999,263867.457439,470,1408.36933,86245.554493,0

In [127]:

ltc_usdt2 = client.get_klines(symbol='LTCUSDT', 
                              interval=Client.KLINE_INTERVAL_5MINUTE,
                              endTime=ltc_usdt[0][0] - DIFF_15_MIN_INTERVAL
                             )

In [ ]:
def get_by_intervals(n_iterations, currency, interval):
    df = pd.DataFrame()
    for i in range(0,n_iterations):
        new_data = client.get_klines(symbol=currency, 
                              interval=Client.KLINE_INTERVAL_5MINUTE,
                              endTime=ltc_usdt[0][0] - DIFF_INTERVAL_5MIN
                             )
        df = pd.concat([df])

In [ ]:
ltc_usdt[0]

In [129]:
ltc_usdt[0][0] - ltc_usdt[1][0]

-300000

In [130]:
ltc_usdt2[-1]

[1582845900000,
 '62.02000000',
 '62.15000000',
 '61.73000000',
 '61.85000000',
 '4046.52485000',
 1582846199999,
 '250694.42510400',
 615,
 '2110.29808000',
 '130763.43671670',
 '0']

In [131]:
ltc_usdt2_df = pd.DataFrame(ltc_usdt2, columns=columns)
ltc_usdt2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     500 non-null    int64
 1   Open                          500 non-null    object
 2   High                          500 non-null    object
 3   Low                           500 non-null    object
 4   Close                         500 non-null    object
 5   Volume                        500 non-null    object
 6   Close Time                    500 non-null    int64
 7   Quote asset volume            500 non-null    object
 8   n_trades                      500 non-null    int64
 9   Taker buy base asset volume   500 non-null    object
 10  Taker buy quote asset volume  500 non-null    object
 11  Ignore                        500 non-null    object
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [132]:
ltc = pd.concat([ltc_usdt2_df, ltc_usdt_df])

In [133]:
ltc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open Time                     1000 non-null   int64
 1   Open                          1000 non-null   object
 2   High                          1000 non-null   object
 3   Low                           1000 non-null   object
 4   Close                         1000 non-null   object
 5   Volume                        1000 non-null   object
 6   Close Time                    1000 non-null   int64
 7   Quote asset volume            1000 non-null   object
 8   n_trades                      1000 non-null   int64
 9   Taker buy base asset volume   1000 non-null   object
 10  Taker buy quote asset volume  1000 non-null   object
 11  Ignore                        1000 non-null   object
dtypes: int64(3), object(9)
memory usage: 101.6+ KB

In [134]:
ltc.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,n_trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1582696200000,68.89000000,69.00000000,68.69000000,68.95000000,2472.68560000,1582696499999,170325.36626150,342,1811.65863000,124798.46497750,0
1,1582696500000,68.99000000,69.56000000,68.91000000,69.48000000,9199.78693000,1582696799999,637529.21630110,1503,6384.66309000,442514.39530260,0
2,1582696800000,69.50000000,69.95000000,69.40000000,69.68000000,6260.02338000,1582697099999,436104.92643610,996,2554.34295000,178124.35080510,0
3,1582697100000,69.70000000,69.80000000,69.45000000,69.66000000,2880.46031000,1582697399999,200659.99092410,449,1753.74989000,122179.70230270,0
4,1582697400000,69.66000000,69.80000000,69.52000000,69.69000000,2710.36477000,1582697699999,188757.95608300,439,1747.63633000,121726.61325910,0

In [122]:
ltc[ ltc['Open Time'].duplicated()] #we don't want duplicates

Empty DataFrame
Columns: [Open Time, Open, High, Low, Close, Volume, Close Time, Quote asset volume, n_trades, Taker buy base asset volume, Taker buy quote asset volume, Ignore]
Index: []

In [123]:
ltc['Open Time'].min()

1582696200000

In [135]:
def test_time_skip(i_init,i_end):
    for i in range(i_init,i_end):
        if (ltc['Open Time'].iloc[i+1] - ltc['Open Time'].iloc[i] != 300000):
            print('FUUUCK',(ltc['Open Time'].iloc[i+1] - ltc['Open Time'].iloc[i]), 
                ltc['Open Time'].iloc[i+1], ltc['Open Time'].iloc[i],i)
            
test_time_skip(0,999)